<!DOCTYPE html>
<html>
<head>
    <title>Touch Events Example</title>
</head>
<body>
    <div id="touch-element">Touch Me</div>

    <script>
        var touchElement = document.getElementById("touch-element");

        touchElement.addEventListener("touchstart", function(event) {
            console.log("Touch started");
        });

        touchElement.addEventListener("touchend", function(event) {
            console.log("Touch ended");
            alert('te')
        });
    </script>
</body>
</html>
