<!DOCTYPE html>
<html>
<head>
    <title>Botkenstein Web</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!-- Button Style -->
<style>
    .moveButton {
      
      color: rgb(0, 0, 0);
      text-align: center;
      justify-content: center;
      /* display: inline-block; */
      cursor: pointer;
      font-size: 50px;
      width: 100px;
      height: 100px;
    }
</style>

<body>
    <h1>MCK Botkenstein</h1>&nbsp
    <img width="800px" src="{{ url_for('video_feed') }}" alt="This is cam">

    <!-- <button type="submit">Submit</button> -->

    <!-- <label for="name1">Name:</label>
    <input type="text" id="name1" name="name1"> -->

    <!-- <p>
    <button id="btRobotTurnLeft" class="moveButton" onpointerdown ="RobotTurnLeft()" onpointerup="RobotPause()" style="margin-right: 30px;">←</button>
    <button id="btRRobotTurnRight" class="moveButton" onpointerdown ="RobotTurnRight()" onpointerup="RobotPause()" style="margin-right: 180px;">→</button>
    <button id="btRRobotForward" class="moveButton" onpointerdown ="RobotForward()" onpointerup="RobotPause()" style="margin-right: 30px; height: 150px;">↑</button> 
    <button id="btRobotBackward" class="moveButton" onpointerdown ="RobotBackward()" onpointerup="RobotPause()" style="height: 150px">↓</button>
    <p> -->

  
    <p id="lbSpeed">Speed: 50%;</p>       
   
    <p>
        <button id="btRobotTurnLeft" class="moveButton" style="margin-right: 30px;">←</button>
        <button id="btRobotTurnRight" class="moveButton" style="margin-right: 180px;">→</button>
        <input type="range" id="sdSpeedSlider" style="transform: rotate(270deg);" min="0" max="100" value="50">
        <button id="btRobotForward" class="moveButton" style="margin-right: 30px; height: 150px;">↑</button> 
        <button id="btRobotBackward" class="moveButton" style="height: 150px">↓</button>
    <p>
        



    <input type="button" 
    value="Button" 
    ontouchstart="btStart()"
    ontouchend = "btStop()"


     style="height: 80px;width:80px" >
<p></p>
     <input type="button" 
    value="↑" 
    ontouchstart="btStart2()"
    ontouchend = "btStop2()"

     style="height:80px;width:80px" >
<!-- 
     <input type="button" class="button"
     value="Button2" 
     ontouchstart="btStart()"
     ontouchend = "btStop()"
      style="height:200px;width:200px" >
    -->
    pauseUpdating1
    <script>
         // add below function to stop right click manual
        document.addEventListener('contextmenu', function(event) {event.preventDefault(); });

        var speedSlider = document.getElementById("sdSpeedSlider");
        var speed = document.getElementById("lbSpeed");

        speedSlider.addEventListener("input", function() {
            speed.textContent = "Speed: " + speedSlider.value.toString() + "%";
        });
        
        speedSlider.addEventListener("mouseup", function() {
            console.log("Slider value on mouse release:" + speedSlider.value);
            $.ajax({
                url: "/getRobotCMD",
                type: "POST",
                contentType: 'text/plain',
                data: speedSlider.value,
                success: function(d) {
                    // alert(d);
                }
                });
        });

        var pauseUpdating1;

        var RobotCurrTask;

        var buttons = document.querySelectorAll('.moveButton');

        // Add event listeners to each button when clicked
        buttons.forEach(function(button) {
            button.addEventListener('mousedown', function(event) {
                var clickedButton = event.target;
                var buttonText = clickedButton.id;
                buttonText = buttonText.substring(2)
                // alert('Button "' + buttonText + '" clicked!');
                
                $.ajax({
                url: "/getRobotCMD",
                type: "POST",
                contentType: 'text/plain',
                data: buttonText,
                success: function(d) {
                    // alert(d);
                }
                });
               
            });
        });

        // Add event listeners to each button when release
        buttons.forEach(function(button) {
            button.addEventListener('mouseup', function(event) {
            });
        });



        // function RobotTurnLeft(){
        //     RobotCurrTask = "RobotTurnLeft";
        //     console.log(RobotCurrTask);

        // }
        // function RobotTurnRight(){
        //     RobotCurrTask = "RobotTurnRight";
        //     console.log(RobotCurrTask);
        // }

        // function RobotForward(){
        //     RobotCurrTask = "RobotForward";
        //     console.log(RobotCurrTask);
        // }

        // function RobotBackward(){
        //     RobotCurrTask = "RobotBackward";
        //     console.log(RobotCurrTask);
        // }

        // function RobotPause(){
        //     RobotCurrTask = "RobotPause";
        //     console.log(RobotCurrTask);
        // }


        function btStop() {
            pauseUpdating1 = false;
            console.log("bt1 release");
          

        }

        function btStart() {
           
            console.log("bt1 press");
            document.getElementById('result').innerHTML
                = "bt1 press";
        }

        function btStop2() {
            pauseUpdating1 = false;
            console.log("bt2 release");
            document.getElementById('result').innerHTML
                = "bt2 release";
        }

        function btStart2() {
           
            console.log("bt2 press");
        }


        $(document).ready(function() {

            // POST function
            // $("#myForm").submit(function(event) {
            //     event.preventDefault(); // Prevent default form submission

            //     var name = $("#name").val();

            //     $.ajax({
            //         url: "/save_data",
            //         type: "POST",
            //         data: { name: name },
            //         success: function(response) {
            //             $("#result").text("POST response: " + response);
            //         },
            //         error: function(error) {
            //             console.log(error);
            //         }
            //     });
            // });
            
            // setInterval(function()
            //  {
                
                
            //     //  RobotCurrTask = $("#name").val();
            //     $.ajax({
            //     url: "/getRobotCMD",
            //     type: "POST",
            //     contentType: 'text/plain',
            //     data: RobotCurrTask,
            //     success: function(d) {
            //         // alert(d);
            //     }
            //     });
                
            // }, 200); 
            // Request interval: 1 second







            
        });
    </script>
</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>AJAX Example</h1>
    
    <p id="variableValue"></p>
    <textarea id = "poetvariable"></textarea>
    
    <script>
        $(document).ready(function() {
            setInterval(function()
             {
                $.ajax({
                    url: "/get_variable",
                    type: "GET",
                    success: function(response) {
                        $("#variableValue").text(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                $.ajax({
                    url: "/poet_variable",
                    type: "POST",
                    success: function(response) {
                        $("#poetvariable").text(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }, 1000); // Request interval: 1 second
        });
    </script>
</body>
</html> -->
